* {
    margin:0;
    padding: 0;
}

.container {
    height: 1000px;
    background-color: lavender;
    z-index: 1;
}

.div1{
    background-color: lightcoral;
    height: 300px;
    padding: 50px;
    z-index: 2;
}

.line {
    background-color: rebeccapurple;
    height: 20px;
    z-index: 3;
}
.circle {
    background-color: red;
    height: 100px;
    width: 300px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 {
    background-color: lightsalmon;
    height: 300px;
    padding: 50px;
    z-index: 4;
}