.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider-track {
    display: flex;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.slider-card {
    width: calc((100% / 3) - 20px);
    margin-right: 20px;
    height: 200px;
    background-color: #f5f5f5;
    flex-shrink: 0;
    border-radius: 10px;
}

.slider-card--current {
    transform: scale(1);
    z-index: 1;
}

.slider-card--previous {
    transform: translateX(-30%) scale(0.9);
}

.slider-card--next {
    transform: translateX(30%) scale(0.9);
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.slider-button--left {
    left: 0;
}

.slider-button--right {
    right: 0;
}


/*  */



/*SPECIFIC TO THE CARDS*/

.card {
    height: 100%;
    box-shadow: var(--box-shadow-light);
    background-color: var(--color-background-white);
    border-radius: var(--card-border-radius);
    /* overflow: hidden; */
}

.card-img-container {
    border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
    overflow: hidden;
}

/* TODO CROP ALL IMAGES FOR THIS SECTION WITH A 3/2 ASPECT RATIO */
.card-img {
    border-radius: var(--card-border-radius) var(--card-border-radius) 0px 0px;
    transition: 0.75s all ease-in-out;
    max-height: 100%;
    aspect-ratio: 3/2;
}

.card:hover img {
    transform: scale(1.1);
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    background-color: var(--color-background-white);
    max-height: 100%;
    padding: 30px;
    border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);
}

.card-body * {
    margin-block: 10px;
}